friendly.html
.DS_Store
node_modules/
**/node_modules/
**/.npmcache/
app-native/ios/App/Pods/
app-native/ios/App/App/public/
functions/node_modules/
.firebase/
app-native/ios/App/App.xcodeproj/xcuserdata/
app-native/ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
app-native/ios/App/CapApp-SPM/.build/
*.xcuserstate
app-native/ios/DerivedData/
